<h1>DIVISIONS</h1>

<% if @divisions.any?() %>
  <h3>Here are all of your divisions:</h3>

    <ul>
      <% @divisions.each() do |division| %>
        <li><%= division.name %> <a href="/divisions/<%= division.id() %>/edit">Update this division</a></li>
      <% end %>
    </ul>
<% else %>
  <h3>There are no divisions yet!</h3>

<% end %>

<h3>Add division:</h3>

<form action="/divisions" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="name" id="name">
    <br>
    <button type="submit" class="btn btn-primary">Add division</button>
  </div>
</form>



<h6><a href="/">Back Home</a></h6>
