<h1>EMPLOYEES</h1>

<h3>Here are all of your employees:</h3>

<ul>
  <% @employees.each() do |employee| %>
  <li><%= employee.name %></li>
  <% end %>
</ul>

<h3>Add employee:</h3>

<form action="/employees" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="name" id="name">

    <label for="gender">Gender:</label>
    <input class="form-control" type="text" name="gender" id="gender">

    <label for="age">Age:</label>
    <input class="form-control" type="text" name="age" id="age">
    <br>
    <button type="submit" class="btn btn-primary">Add employee</button>
  </div>
</form>

<h6><a href="/">Back Home</a></h6>
